@model eShop.Models.Account

@{
    Layout = "~/Views/Shared/_AccountLayoutPage.cshtml";
}


<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
        <header class=" demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title"></span>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                </div>
            </div>
        </header>
        <div></div>

        <main class="mdl-layout__content">
            <div class="mdl-grid high">

                <div class="mdl-color--white
                 mdl-shadow--4dp
                 mdl-color-text--grey-800
                 mdl-cell mdl-cell--3-col account-form">

                    <div style="padding-left: 10%; padding-top: 5%;">
                        <h3>Please login</h3>

                        <span class="text-error">
                            @ViewData["error"]
                        </span>

                        @using (Html.BeginForm("Login", "Account"))
                        {
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.PasswordFor(m => m.UserName, new { @class = "mdl-textfield__input", @id = "username", required = "required" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-error" })
                                <label class="mdl-textfield__label" for="username">Username...</label>
                            </div>


                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.PasswordFor(m => m.Password, new { @class = "mdl-textfield__input", @id = "password", required = "required" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-error" })
                                <label class="mdl-textfield__label" for="password">Password...</label>
                            </div>
                            <br>
                            <br>
                            <br>
                            <input type="submit" value="OK" class="mdl-button mdl-button--raised">
                        }
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="register">
                        <div class="mdl-button">
                            @Html.ActionLink("Registration", "Register", "Account")
                        </div>
                    </div>
                </div>
            </div>

            <footer class="demo-footer mdl-mini-footer">
                <div class="mdl-mini-footer--left-section">
                    <ul class="mdl-mini-footer--link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy and Terms</a></li>
                        <li><a href="#">User Agreement</a></li>
                    </ul>
                </div>
            </footer>
        </main>
    </div>
